<!DOCTYPE html>
<head>
    <title>CrabScore App Sever (Python Part)</title>
</head>
<body>
<h1>CrabScore App Sever (Python Part)</h1>
<div>[<a
        href="https://www.spencercjh.top">My Personal Home Page</a><br>,
    <a href="https://www.spencercjh.top:8081/crabscore/swagger-ui.html">Swagger</a><br>,
    <a href="https://github.com/spencercjh/CrabScoreMVP">Android Client In Github</a><br>,
    <a href="https://github.com/spencercjh/crabscore_springboot">SpringBoot Sever In Github</a><br>,
    <a href="https://gitee.com/spencercjh/CrabScore2">Android Client In Gitee</a><br>,
    <a href="https://gitee.com/spencercjh/crabscore">SpringBoot Sever In Gitee</a><br>]
    <p><span>HAVE A NICE DAY :-)</span></p>
</div>
</body>